// 主色
$primaryColor: #2d8cf0;
$lightPrimaryColor: #5cadff;
$darkPrimaryColor: #2b85e4;
$menuHoverColor: #f0faff;
$mainBgColor: #f5f7fa;

// 辅助色
$infoColor: #2db7f5;
$successColor: #19be6b;
$warningColor: #ff9900;
$errorColor: #ed4014;

// 中性色
$titleColor: #303133;
$textContentColor: #515a6e;
$subColor: #808695;
$disabledColor: #c5c8ce;
$borderColor: #e4e7ed;
$dividerColor: #e8eaec;
$bgColor: #f8f8f9;

// 侧边栏宽度
$base-sidebar-width: 256px;
$nav-bar-height: 64px;

// 暗色侧边栏主题
$dark-sidebar-bg: #191a23;
$dark-menu-active-bg-color: #101117;
$dark-text-color: #ffffffb3;
$dark-active-text-color: #fff;
$dark-not-active-color: #ffffffb3;
