// 主色
$primary-color: #2d8cf0;
$light-primary-color: #5cadff;
$dark-primary-color: #2b85e4;
$menu-hover-color: #f0faff;
$main-bg-color: #f5f7fa;

// 辅助色
$info-color: #2db7f5;
$success-color: #19be6b;
$warning-color: #ff9900;
$error-color: #ed4014;

// 中性色
$title-color: #303133;
$text-content-color: #515a6e;
$sub-color: #808695;
$disabled-color: #c5c8ce;
$border-color: #e4e7ed;
$divider-color: #e8eaec;
$bg-color: #f8f8f9;

// 侧边栏宽度
$base-sidebar-width: 256px;
$nav-bar-height: 64px;

// 暗色侧边栏主题
$dark-sidebar-bg: #191a23;
$dark-menu-active-bg-color: #101117;
$dark-text-color: #ffffffb3;
$dark-active-text-color: #ffffff;
$dark-not-active-color: #ffffffb3;
